<h1 class="text-center p-5 bg-dark text-white rounded shadow">PANEL DE CONTROL
  ADMIN</h1>

<h2 class="p-2 bg-dark">Lista de usuarios registrados</h2>
<div class="container">


<table class="table table-striped">
  <thead></thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Rol</th>
  </tr>
  {{#each usersList}}
    <tbody>

      <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
      </tr>
    </tbody>
  {{/each}}

</table>
</div>