  <div class="row g-0 p-4">
    <div class=" my-auto">
      <h2>Carga de documentos</h2>
      <p>Foto de perfil:</p>
      <input type="file" name="avatar" />
      <p>Documento - frente:</p>
      <input type="file" name="dnifrente" />
      <p>Documento - dorso:</p>
      <input type="file" name="dnidorso" />

    </div>
  </div>