<h2 class="text-center p-5 bg-dark text-white rounded shadow">LOGIN</h2>

{{#if error}}
  <div class="alert alert-danger" role="alert">
    Error: {{error.message}}
  </div>
{{/if}}

<div class="card mx-auto my-5 p-5 w-50 bg-dark">
  <div class="card-header mb-3 text-center bg-dark text-white fw-bold fs-4">
    Ingresar
  </div>
  <form class="forms" method="post" action="/api/sessions/login">
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="email" name="email" class="form-control controls" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control controls" />
    </div>
    <button
      type="submit"
      class="btn btn-success text-black fw-bold w-100"
    >Ingresar</button>
    <a
      type="button"
      role="button"
      href="/register"
      class="btn btn-link position-relative"
    >Crea una cuenta</a>
  </form>
  <a href="/recupassword">Olvide mi contraseña</a>
</div>