<h2 class="text-center  p-5 bg-dark text-white rounded shadow">PRODUCTOS</h2>
{{#if isAdmin}}
<form class="forms" id="formProduct" enctype="multipart/form-data">
    <h2>Formulario de ingreso de producto</h2>
    <input class="controls" type="text" name="title" id="title" placeholder="Titulo del Producto" >
    <input class="controls" type="text" name="description" id="description" placeholder="Descripcion" >
    <input class="controls" type="number" name="stock" id="stock" placeholder="stock" >
    <input class="controls" type="text" name="category" id="category" placeholder="Categoria" >
    <input class="controls" type="number" name="price" id="price" placeholder="Precio" >
    <input class="controls" type="text" name="code" id="code" placeholder="Codigo" >
    <p>Ingrese imagen del producto:</p>
    <input type="file" name="avatar" />
    <div class="d-grid gap-2">
        <button class="btn btn-success m-2" type="submit" id="add-btn">Agregar</button>
    </div>
    <br>
    <h2> Eliminar un producto:</h2>
    <input class="controls" type="string" name="id-prod" id="id-prod" placeholder="Ingrese ID">
    <div class="d-grid gap-2">
        <button class="btn btn-danger" type="button" id="delete-btn">Eliminar</button>
    </div>
</form>

{{else}}

      <div class="alert alert-danger" role="alert">
    No puedes agregar productos. Deberas loguearte y poseer los permisos necesarios (Rol).
  </div>
{{/if}}

<h3>Lista de Productos</h3>
<article id="list-products">

</article>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/realTimeProducts.js"></script> 