<div class="container m-5 p-5">
{{#if errorUser}}
  <div class="alert alert-danger" role="alert">
    Error: {{errorUser.message}}
  </div>
{{/if}}
<h1 class="text-white">RECUPERACIÓN DE CONTRASEÑA</h1>

<p class="text-white">A continuación ingresa tu email</p>
<form method="post" action="/api/sessions/recupassword">
    <input type="email" placeholder="Email" name ="email" class="form-control controls w-25" >
<p class="text-white">Te enviaremos un enlace para poder recuperar tu contraseña</p>
    <button type="submit">Enviar</button>
</form>
</div>