<h1>RECUPERACIÓN DE CONTRASEÑA</h1>

<p>A continuación ingresa tu email</p>
<p>Te enviaremos un enlace para poder recuperar tu contraseña</p>
<form method="post" action="/api/sessions/recupassword">
    <input type="email" placeholder="Email" name ="email">
    <button>Enviar</button>
</form>