<h2
  class="text-center p-5 bg-dark text-white rounded shadow "
>PAGINA DE REGISTRO</h2>

<p style="color: crimson;">{{error}}</p>

<div class="card mx-auto my-5 p-5 w-50 bg-dark">
  <div class="card-header mb-3 text-center bg-dark text-white fw-bold fs-4">
    Crea tu Cuenta
  </div>
  <form class="forms" method="post" action="/api/sessions/register">
    <div class="mb-3">
      <label  class="form-label">Nombre</label>
      <input
        type="text"
        name="first_name"
        class="form-control controls"
      />

    </div>
    <div class="mb-3">
      <label  class="form-label">Apellido</label>
      <input
        type="text"
        name="last_name"
        class="form-control controls"
      />

    </div>
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control controls"
      />

    </div>
        <div class="mb-3">
      <label  class="form-label">Edad</label>
      <input
        type="text"
        name="age"
        class="form-control controls"
      />

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control controls"
      />
    </div>

    <button
      type="submit"
      class="btn btn-success fw-bold w-100"
    >Registrarme</button>
    <a
      type="button"
      role="button"
      href="/login"
      class="btn btn-link position-relative"
    >Ya tengo una cuenta</a>
  </form>

</div>