body {
    background-color: #1e1e1e;
}

.colornav{
    color:white !important
}
.forms {
    width: 400px;
    background: #242424;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(69, 69, 69);
    box-shadow: 7px 13px 37px #864d4d;
}

#formProducth4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #353535;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #d5d2c1;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

#formProduct p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#formProduct h2 {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

#formProduct a {
    color: white;
    text-decoration: none;
}

#formProduct a:hover {
    color: white;
    text-decoration: underline;
}


/* -------------- Fin Formulario -------------- */


/* -------------- Lista de Productos Administrador -------------- */

.product-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #e3ac78;
}

.product-table th,
.product-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f9f9f9;
}

.product-table td img {
    display: block;
    margin: auto;
    max-width: 80px;
    max-height: 80px;
}

/* -------------- Fin Lista de Productos Administrador -------------- */